.container,
.container-2 {
  background-color: rgb(59, 145, 221);
  margin: 20px 0;
  height: auto;
  color: white;
  font-size: 20px;
}

.container > div,
.container-2 > div {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.child-1 {
  width: 100px;
  height: 100px;
  background-color: red;
}
.child-2 {
  width: 100px;
  height: 100px;
  background-color: green;
}
.child-3 {
  width: 100px;
  height: 100px;
  background-color: blue;
}
.child-4 {
  width: 100px;
  height: 100px;
  background-color: aqua;
}
.child-5 {
  width: 100px;
  height: 100px;
  background-color: darkorange;
}
