table {
  width: 100%;
  height: 200px;
}

td {
  border: 1px solid #333;
}

td {
  text-align: right;
  /* right, left or center */
  vertical-align: top;
  /* bottom, middle or top */
  padding: 20px;
}

thead:hover {
  background-color: green;
  font-size: 30px;
  color: rgb(208, 99, 99);
  cursor: crosshair;
  font-weight: 800;
}
thead,
tfoot {
  background-color: #333;
  color: #fff;
}

td.bg-red {
  background-color: red;
  height: 150px;
  vertical-align: bottom;
}

.heading-table {

}