.decimal {
  list-style-type: decimal;
}
.decimal-leading-zero {
  list-style-type: decimal-leading-zero;
}

.lower-alpha {
  list-style-type: lower-alpha;
}

.upper-alpha {
  list-style-type: upper-alpha;
}

.lower-roman {
  list-style-type: lower-roman;
}

.upper-roman {
  list-style-type: upper-roman;
}

.lower-greek {
  list-style-type: lower-greek;
}

.lower-latin {
  list-style-type: lower-latin;
}

.upper-latin {
  list-style-type: upper-latin;
}

.circle {
  list-style-type: circle;
}

.img {
  list-style-image: url("https://picsum.photos/200");
  list-style-position: inside;
  margin-bottom: 200px;
}
.img li {
  width: 100px;
  height: 100px;
}
